.film-card{
   
    border-radius: 5px;
    background-image: url("/src/Assets/img/bg2.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
    color: white;
    backdrop-filter: blur(8px);
    width: 400px;
}

.film-card:hover{
    box-shadow: 0px 0px 13px 8px rgb(23,109,150);
}

.header{
    padding-top: 50px;
    padding-bottom: 50px;
}

.more-info{
    border-top: 2px solid red;
    padding-top: 20px;
}

.film-card a{
    text-decoration: none;
    color: rgb(237, 210,32);
}

.opening-craw{
    margin-bottom: 20px;
    text-align: justify;
}

.row-content{
    padding-bottom: 20px;
}

h1{
    color: white;
}

.loaderr{
    background-color: black;
    color: white;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 220px;
    height: 50px;
}

@media (max-width: 1400px) {
    .film-card{
        width: 350px;
    }
    
}

@media (max-width: 1200px) {
    .film-card{
        width: 450px;
    }
    
}

@media (max-width: 1000px) {
    .film-card{
        width: 700px;
    }
    
}